header {
  display: flex;
  width: 100%;
  /* margin-top: 50px; */
}

header ul {
  /* background-color: aqua; */
  display: flex;
  justify-content: end;
  width: 100%;
  list-style: none;
  /* height: 50px; */
}

li {
  padding-left: 30px;
  font-size: 25px;
}

li a {
  text-decoration: none;
  color: black;
}

.main_page {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.main_page input {
  width: 300px;
  padding: 2px;
}

.main_page button {
  background-color: yellow;
  width: 300px;
  padding: 2px 30px;
  font-size: 18px;
}

.features {
  display: flex;
  flex-direction: column;
}

.details {
  display: inline-flex;
}
